swagger: '2.0'

info:
  title: Farmy API
  description: Farmy API description and specs
  version: 0.1.0
  x-logo:
    url: "icon.png"
    backgroundColor: "#FFFFFF"
    altText: "Farmy Ai logo"

host: api.farmy.ai
basePath: /api/v1
schemes:
  - https

consumes:
  - application/json
produces:
  - application/json

securityDefinitions:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
    UserTokenAuth:
      type: http
      scheme: bearer
      bearerFormat: Token 153c6c7a4acc77045eb627664fa4d4d1f6f2203b  
security:
  - ApiKeyAuth: []
    UserTokenAuth: []

paths:
  /anomalies/:
    get:
      operationId: List Anomalies
      description: The List Anomalies api allows to visualize the details in list view
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Anomaly'

    post:
      operationId: Create Anomaly
      description: The Create Anomaly api manages the diagnosis cycle by providing the automated diagnosis and later the manual diagnosis from an agronomist
      consumes:
        - multipart/form-data
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Anomaly'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Anomaly'

    parameters: []
  /anomalies/{id}:
    get:
      operationId: Get Anomaly Details
      description: The Get Anomaly Details api allows to visualize the details (automated diagnosis, manual diagnosis, ...) of a specific anomaly identified by a user
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Anomaly'

    put:
      operationId: Mark Anomaly As Seen
      description: The Mark Anomaly As Seen api informs if an anomaly has been seen or not
      parameters: []
      responses:
        '200':
          description: ''

    parameters:
      - name: id
        in: path
        required: true
        type: string
  /auth/generate-token/:
    post:
      operationId: Generate User Token
      description: The Generate User Token api generates an id for each user (farmer) used by the other APIs as identification key
      security:
        - ApiKeyAuth: []
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserKey'
      responses:
        '201':
          description: ''
          schema:
            type: object
            properties:
              token:
                type: string
    parameters: []
definitions:
  FarmerDetails:
    title: Farmer
    type: object
    properties:
      email:
        title: Email address
        type: string
        format: email
      first_name:
        title: First name
        type: string
      last_name:
        title: Last name
        type: string
      address:
        title: Address
        type: string
      phone:
        title: Phone
        type: string

  ExpertDetails:
    title: Expert
    type: object
    properties:
      email:
        title: Email address
        type: string
        format: email
      first_name:
        title: First name
        type: string
      last_name:
        title: Last name
        type: string
      address:
        title: Address
        type: string
      phone:
        title: Phone
        type: string
      domain:
        title: Domain
        type: string
      expertise:
        type: array
        items:
          type: string

  AnomalyImage:
    type: object
    properties:
      image:
        title: Image
        type: string
        readOnly: true
        format: uri
  AnomalyExpertSolution:
    required:
      - diag
      - treatement
      - description
    type: object
    properties:
      expert:
        allOf:
          -  $ref: '#/definitions/ExpertDetails'
        readOnly: true
      diag:
        title: Diag
        type: string
      treatement:
        title: Treatement
        type: string
      description:
        title: Description
        type: string
  Anomaly:
    required:
      - title
      - image1
      - image2
      - image3
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      title:
        title: Title
        type: string
      description:
        title: Description
        type: string
      farmer:
        allOf:
          -  $ref: '#/definitions/FarmerDetails'
        readOnly: true
      created:
        title: Created
        type: string
        format: date-time
        readOnly: true
      updated:
        title: Updated
        type: string
        format: date-time
        readOnly: true
      model_diag:
        title: Model diag
        type: string
        readOnly: true
      model_confidence:
        title: Model confidence
        type: integer
        readOnly: true
      images:
        type: array
        items:
          $ref: '#/definitions/AnomalyImage'
        readOnly: true
      expert_solutions:
        type: array
        items:
          $ref: '#/definitions/AnomalyExpertSolution'
        readOnly: true
      image1:
        title: Image1
        type: string
        writeOnly: true
        format: binary
      image2:
        title: Image2
        type: string
        writeOnly: true
        format: binary
      image3:
        title: Image3
        type: string
        writeOnly: true
        format: binary
      image4:
        title: Image4
        type: string
        writeOnly: true
        format: binary
      image5:
        title: Image5
        type: string
        writeOnly: true
        format: binary
      seen:
        title: Seen
        type: string
        readOnly: true
  UserKey:
    required:
      - email
      - address
      - phone
      - first_name
      - last_name
    type: object
    properties:
      email:
        title: Email
        type: string
        format: email
      address:
        title: Address
        type: string
      phone:
        title: Phone
        type: string
      first_name:
        title: First name
        type: string
      last_name:
        title: Last name
        type: string